.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #9EDE73;
    font-family: 'Pacifico', cursive;
  }
  
  h1 {
    margin: 30px;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #BE0000;
  }
  
  p {
    font-size: 2.5rem;
    color: #F7EA00;
  }
  
  img {
    width: 80%;
  }
  
 